*.rbc
*.sassc
public/uploads
.sass-cache
capybara-*.html
.rspec
.bundle
vendor/bundle
log/*
tmp/*
db/*.sqlite3
public/system/*
coverage/
spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
config/database.yml
.DS_Store
.tddium*
.tddium
.idea
.project
.jhw-cache
.ssh
.tags
.tags_sorted_by_file
*.box
.vagrant
public/assets/
deployer@*
